.vc_special_heading{
	background-image: url(../images/vc_special_heading.png) !important;
	background-position:0 0 !important;
}

.vc_icon_star{
	background-image: url(../images/vc_icon.png) !important;
	background-position:0 0 !important;
}

.vc_icon_blog{
	background-image: url(../images/vc_icon_blog.png) !important;
	background-position:0 0 !important;
}

.vc_icon_bloglist{
	background-image: url(../images/vc_icon_bloglist.png) !important;
	background-position:0 0 !important;
}

.vc_icon_postcarousel{
	background-image: url(../images/vc_icon_postcarousel.png) !important;
	background-position:0 0 !important;
}

.vc_icon_box{
	background-image: url(../images/vc_icon_box.png) !important;
	background-position:0 0 !important;
}

.vc_icon_clients{
	background-image: url(../images/vc_icon_clients.png) !important;
	background-position:0 0 !important;
}

.vc_icon_contact_form{
	background-image: url(../images/vc_icon_contact_form.png) !important;
	background-position:0 0 !important;
}

.vc_icon_counters{
	background-image: url(../images/vc_icon_counters.png) !important;
	background-position:0 0 !important;
}

.vc_icon_counter{
	background-image: url(../images/vc_icon_counter.png) !important;
	background-position:0 0 !important;
}

.vc_icon_portfolio{
	background-image: url(../images/vc_icon_portfolio.png) !important;
	background-position:0 0 !important;
}

.vc_icon_portfolio_carousel{
	background-image: url(../images/vc_icon_portfolio_carousel.png) !important;
	background-position:0 0 !important;
}

.vc_icon_bradslider{
	background-image: url(../images/vc_icon_bradslider.png) !important;
	background-position:0 0 !important;
}

.vc_icon_person{
	background-image: url(../images/vc_icon_person.png) !important;
	background-position:0 0 !important;
}

.vc_icon_quotes{
	background-image: url(../images/vc_icon_quotes.png) !important;
	background-position:0 0 !important;
}

.vc_icon_quote{
	background-image: url(../images/vc_icon_quote.png) !important;
	background-position:0 0 !important;
}

.vc_icon_features{
	background-image: url(../images/vc_icon_features.png) !important;
	background-position:0 0 !important;
}

.vc_icon_feature{
	background-image: url(../images/vc_icon_feature.png) !important;
	background-position:0 0 !important;
}

.vc_icon_testimonials{
	background-image: url(../images/vc_icon_testimonials.png) !important;
	background-position:0 0 !important;
}

.vc_icon_teaser{
	background-image: url(../images/vc_icon_teaser.png) !important;
	background-position:0 0 !important;
}